/*@font-face {
    font-family: Average;
    src: url('police/AverageSans-Regular.ttf');
}*/

nav { /*fixation du menu nav*/
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
}

#main { /*menu-conteneur principal*/
    display: flex;
    flex-direction: column;
}

.contbout
 { /*menu-conteneur du logo*/
    display: flex;
    justify-content: center;
    background-color: #93d393;
    padding-top: 20px;
}

.boutonMenu { /*menu-div du lien bouton menu (corps du bouton)*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px; 
    width: 250px;
    height: 50px;   
}

#main > div a { /*texte bouton*/
    font-size: 22px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-decoration: underline;   
}

.boutonMenu:hover, #main > div a:hover {
    color: rgb(134, 56, 92);
    text-decoration: none;
}

.contbout2 { /*conteneur des boutons*/
    display: flex;
    justify-content: space-evenly;
    background-color: #93d393;
    padding-bottom: 10px;
}